@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@200;400&family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.cabezal
{
  z-index: -1;
  width: 100%;
  margin-top: 0%;
  justify-content:center;
  height: 63%;
}

.reloj
{
  width: 100%;
  height:100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('./istockphoto-482565130-1024x1024.jpg');
}
.inputs
{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 22%;
}

$pathNumber: 18;

// The color that will be at the beginning and the end of the loop.
$firstColor: #0057B8;

// The list of all the used colors. You can add or remove colors, the animation stays fluid. The $first-color must remain at the end of the list though.
$listColors: #F11E4A, #F8A527, #266D7F, #82A, $firstColor;

$delayCoeff: 0.3s;

.svg {
  display: inline-block;
  height: 200px;
  width: 200px;
  line-height: 200px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
}

#svg {
  display: inline-block;
  vertical-align: middle;
  fill: $firstColor;

  @for $i from 1 through 18 {

      path:nth-child(#{$i}) {
        animation: pweek $delayCoeff*$pathNumber linear infinite;
        animation-delay: $i*$delayCoeff;

        &:hover {
          animation-play-state: paused;

        }
      }
   }
}

@keyframes pweek {
  0% {
    fill: $firstColor;
  }
  @for $i from 1 through length($listColors) {
    #{$i*(100/length($listColors))}% {
      fill: nth($listColors, $i);
    }
  }
}


.inputs input
{
  width: 80%;
  color: #1b2e35;
  font-size: 15px;
  font-family: 'Kanit', sans-serif;
  background: #0000;
  border: 0;
  border-bottom: 2px solid #1b2e35;
  margin-top:5%;
  outline: none;
  border-radius: 8px;
  height: 35px;

}

.content
{
  height: 17%;
    box-shadow: 0 0 15px #4c667842;
    width: 90%;
    overflow-y: hidden;
    background: #fff;
    margin-left: 5%;
    margin-top: 0;
}

.content_start
{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.content_start .fa-star
{
  color:#000;
  margin-top:10%;
  font-size: 20px;
}
.inputs button {
  color: #fff;
  font-size:18px;
  border-radius:50px;
  width:45%;
  margin-top:5%;
  margin-top: 12%;
  background:#1b2e35;
  height:40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.322);
}

textarea
{
    width: 71%;
    color: #000;
    margin-top: 10%;
    height: 35%;
    border-radius: 8px;
    background: #fff;
    margin-left: 14%;
}

.contenedor_consumo
{
  background: #f9ca21;

  border-radius: 8px;
  box-shadow: 0 0 21px #858c90d5;
  display: grid;
  grid-template-columns: 23% 77%;
  grid-template-rows: 32% 43% 25%;
  width: 70%;
  height: 89px;
  color: #000;
}

.cabel
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.897);
  height:10%;
  text-align: center;
  width: 100%;
  color: #000
}


.centerrr
{
  display: flex;justify-content:center;margin-top:10%
}

.cuerp
{
  height:90%;
  width:100%
}

.consumos
{
  width: 100%;height: 100%;
  background:#0000;
  display:flex;
  flex-wrap: wrap;
}


.contenido_bajo h1
{
  font-size: 14px;
  color: #1b2e35;;
}

.b_crear
{
  background: #1b2e35;
  width: 28%;
  display: inline-block;
  border-radius:50px;
  height: 30px;color: #fff;
}

.b_crear h1
{
  margin: 0;
  text-align: center;
  line-height:30px;
  color:#fff
}

.b_ingresar
{
  border:0;
  border-radius: 8px;
  background:#1b2e35;

}

.b_c
{
  display: flex;
  justify-content: center;
}

.b_c button {
  margin: 0;
  background:#0000;
  font-size:20px;
  margin-top:8%;
  color: rgb(45, 121, 209);
}



.titulo_input
{
  margin-left: 5%;
}

.t_t
{
  font-family: 'Bebas Neue', cursive;
  color: #1b2e35;
  margin-left: 7%;
  letter-spacing: 1px;
  font-size: 43px;
}
.text_hoy h1
{
  color:#1b2e35;
  font-size:78px;
  padding-top: 0%;
  text-align: center;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
}

.grid_seleccionador
{
  display: grid;
  width: 60%;
  height: 25%;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
}

.seleccion_almuerzo_1
{
  grid-row: 1;
  grid-template-columns: 2;
}

.seleccion_almuerzo_2
{
  grid-row: 1;
  grid-template-columns: 2;
}

.seleccion_almuerzo_1 h1
{ color:#1b2e35;
  line-height: 33px;
  font-size:18px;
  padding-top: 0%;
  text-align: center;
  margin: 0;
  font-family: 'Kanit', sans-serif;

}
.seleccion_almuerzo_2 h1
{ color:#1b2e35;
  line-height: 33px;
  font-size:18px;
  padding-top: 0%;
  text-align: center;
  margin: 0;
  font-family: 'Kanit', sans-serif;

}

.fa-angle-left
{
  color: #1b2e35
}

.fa-qrcode
{
  font-size: 200px;
  color: #1b2e35
}

.div_h
{
  background: #f9ca21;
  width: 32%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.294);
  height: 50px;
  border-radius:5px;
}
.cabezar_menu
{
  width: 55px;
  height:55px;
  margin-top: 10%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.336);
  margin-left: 7%;
  position: absolute;
  border-radius:100px;
  background: #f9ca21;
}

.contenido
{
  width: 100%;height: 92%;
  background: #fff;
  display: flex;
  padding-top: 30%;
  overflow-x: hidden;
  justify-content:center;
  flex-wrap: wrap;
}

.historial_reservaciones_content
{
  height: 100%;
  width: 100%;
  background: #fff;
}

.text_hoy h2
{
  margin: 0;
  font-family: 'Kanit', sans-serif;
  color:#1b2e35;
  text-align: center;

}

.contenido_bajo
{
  z-index: 8;
  margin-top: -18%;

  background: #fff;

  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 48%;
  box-shadow: 0 0 30px #00000036;
}


.b_reservar
{
  background: #000000cb;
  color: #fff;
  border: 0;
  border-radius:100px;
  font-size:18px;
  width:100px;
  margin-top:-30%;
  height:100px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.644);
}

#main
{
  height:100%;
  width: 100%;
}
.pizarra_1
{
    border: 5px solid #533b18a1;
    min-width: 100%;
    max-width: 100%;
    display: inline-block;
    height: 88%;
    background-size: cover;
    border-radius: 8px;
    margin-top: 6%;
    margin-left: 5%;
    transition:0.3s;
    box-shadow: 0px 0px 9px #000000;
    background-image: url('https://i.pinimg.com/originals/f7/ab/e3/f7abe3b641e555b93d841f9b7e61f4a8.jpg');


  }

.pizarra_1:hover
{
  transition:0.3s;
  box-shadow: 0px 0px 0px #000000;
  margin-left: 5%;
  transform: rotate3d(0, 1, 0, 0deg);
}

.pizarra_1:hover + .pizarra_2
{
  margin-left: 5%;
}

.pizarra_2
{
  border: 5px solid #533b18a1;
    display: inline-block;
    min-width: 100%;
    height: 88%;
    background-size: cover;
    border-radius: 8px;
    transition:0.3s;
  margin-left: 25%;
  margin-right: 5%;
    margin-top: 6%;
    box-shadow: 0px 0px 10px #000;
    background-image: url('https://i.pinimg.com/originals/f7/ab/e3/f7abe3b641e555b93d841f9b7e61f4a8.jpg');

}
.pizarra_2:hover
{
  transition:0.3s;
  box-shadow: 0px 0px 0px #000000;

  transform: rotate3d(0, 1, 0, 0deg);
}





.horario
{
  display: grid;
  grid-template-columns: 30% 30% 30% 30% 30% 30% 30%;
  grid-template-rows: 30% 70%;
  height:100%;
  width: 100%;
  margin-top: 15%;
}

.blur
{
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(8px);
  background: rgba(240, 240, 240, 0.192);
}

.horario div h1 {
  font-family: 'Kanit', sans-serif;
  padding-top: 0%;
  color: #1b2e35;
  margin: 0;
  font-size:15px;
  text-align: center;
}

.center
{
  background: #1b2e35;
  font-family: 'Bebas Neue', cursive;
  height:8%
}

.h_
{
  overflow-x: hidden;
  margin-top:400%;
  height:100%;
  z-index: 15;
  width: 100%;
  background:#fff;
  transition: 0.3s;
  position:absolute;
}

.center h1
{ font-size: 35px;
  line-height: 55px;
}

.cuadro
{
  border: 2px dashed #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.199);
  background: radial-gradient(#ffffff82, transparent);
  width: 85%;
  margin: 7%;
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  height:50%
}

.cuadro h1
{
  font-family: 'Bebas Neue', cursive;
  color:#1b2e35;
  font-size:40px;
  text-align:center;
}

.title_regresar
{
  font-family: 'Bebas Neue', cursive;
  color:#1b2e35;
  font-size:40px;
  margin-left: 10%;
}

.historial_reservaciones h1
{
  font-family: 'Kanit', sans-serif;
  font-size:15px
}

.horario div{
  height: 100%;
  margin:0;
}

.cuadro button{
  width: 30%;
  color:#fff;
  font-size:20px;
  font-family: 'Kanit', sans-serif;
  height: 40px;
  background:#1b2e35;
  margin-left: 5%;
  border: 0;
  border-radius: 8px;
}


.alerta_no
{
  overflow-x: hidden;
  height: max-content;
  transform: scale(1.2);
  margin-top: 20%;
  width: 70%;
  border-radius: 15px;
  background: #fff;
}

.alerta_no button
{
  width: 35%;
  font-size:18px;
  height:50px;
  background: #0000;
  color: rgb(47, 129, 197);
}

.cuadro_leido
{
  width: 90%;
  height:50px;
  border-radius:8px;
  margin-left:5%;
  margin-top: 8%;
  background:#fff;box-shadow: 0 0 10px rgba(0, 0, 0, 0.281)
}




h1
{
  font-family: 'Roboto', sans-serif;
}

h3{
  font-family: 'Indie Flower', cursive;
  margin: 0;
  height: auto;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.808);
}
